* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  /* background-color: #8cd775; */
  /* background-color: #fdd9b5; */
  background-color: #fff;
  color: #404654;
}
#root {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}
